.teri{


 
  width: 100%;
  margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-top:-20px ;
    box-shadow: 0px 15px 10px -15px #ababab;    

    
}





.overlay {
  height: 0%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 132px;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: auto;
    right: 0;
    display: flex;
    align-items: center;
}




.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}




.overlay .closebtn {
      position: absolute;
    top: 20px;
    right: 40px;
    font-weight: bold;
    font-size: 38px;
    color: black;
    z-index: 2;
    text-decoration: none;
      transition: 0.5s;

}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media only screen and (max-width: 1200px) {
  #myNav {


display: none;

  }


  .gen{
  	display: none;
  }
}


@media only screen and (min-width: 1200px) {
  .mobile-header {


display: none;

  }


 
}










      #mms{

            margin-left: 158px;
      }


      #mms:hover{

        border-bottom: 1px solid black;
      }

    	

    	/*#jj{

    		margin: -268px 0px 0px 0px;
    	}

*/

 
    	


    	.uu{


    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    overflow: auto;
    position: relative;
}



    	

.nitem{

	list-style-type: none;
	float: left;
	padding: 0px 10px;
	text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

}


#manish{
	
	width: 1600px;
}



.nitems{

	float: left;
	width: 25%;


}


.imsg{


display: block;
  margin-left: auto;
  margin-right: auto;

}




.gen{


max-width: 1600px;

    height: 70px;

 

    padding: 20px 0px 0px 200px

}


.ee{


	font-size: 20px;
}






/*for mobile header
*/
.om{

height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -18px;
  padding:10px 0px 0px 0px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}

.closebtnm{
position: absolute;
    top: 6px;
    right: -4px;
    font-weight: bold;
    font-size: 38px;
    color: white;
    z-index: 2;
    text-decoration: none;
    transition: 0.5s;
    background: red;
    height: 20  px;
    width: 45px;
    padding: 0px 10px 0px 10px;
    margin: -2px 4px 15px 1px;



  }


.header__logo-image{

margin: 0px 0px 0px 25px;

padding: 1.5rem 0px 15px 0px;
height: auto;
    max-width: 100%;
    border-style: none;
    vertical-align: top;

}


.lim{

padding: 20px 0px 0px 30px;

font-size: 20px;
font-weight: 500;
font-family: Montserrat
;


}




/*categories list for mobile*/

.overlaym{


height: 0%;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 255px;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: auto;
    align-items: center;

}


.closebtnmm{



position: absolute;
    top: 0px;
    right: 25px;
    font-weight: bold;
    font-size: 38px;
    color: red;
    z-index: 2;
    text-decoration: none;
      transition: 0.5s;
/*padding: 0px 8px 6px 8px;
      border-radius: 100%;*/
      width: 30px;
      height: 30px;


}
.eem{


  font-size: 15px;
}



.imgfmh{


  width: 100%;
}


.tgl{


  height: 30px;
  width: 30px;

  margin: 20px 0px 0px 10px;
}



/* anouncement bar */

.anmtbr{

  height: 35px;
  background-color: black;

  margin: -16px 0px 0px 0px;



}

.anp{


  color: white;
  padding: 5px 0px 0px 0px;
  text-align: center;
  max-width: 100%;
}


.omni{


  max-width: 85px;



}


.fa-arrow-down{

  float: left;





}

.fa-arrow-up{

  display: none;


}
